[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ? Allows using third-party Bluetooth PlayStation 3 controllers on OS X
[access "refs/*"]
	owner = group user/copland (coplandjune)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/copland (coplandjune)
	label-Verified = -1..+1 group user/copland (coplandjune)
	push = group user/copland (coplandjune)
	read = group user/copland (coplandjune)
	rebase = group user/copland (coplandjune)
	removeReviewer = group user/copland (coplandjune)
	submit = group user/copland (coplandjune)
[access "refs/heads/*"]
	create = group user/copland (coplandjune)
	push = +force group user/copland (coplandjune)
	pushMerge = group user/copland (coplandjune)
	read = group user/copland (coplandjune)
[access "refs/tags/*"]
	push = group user/copland (coplandjune)
	push = +force group user/copland (coplandjune)
